/* utility classes */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.flex{
    display: flex
}
.p-l-r{
    padding: 0 16px 0 16px
}
.clearfix{
    display: table;
    content: "";
    clear: both
}
.active{
    display: none
}
.f-l{
    float: left
}
.f-r{
    float: right
}
/* end utility classes */

/* general settings */
body{
    background: linear-gradient(
        to bottom, #009688 0px, #009688 15vh,
        #dddbd1 15vh, #d2dbdc 100%
    );
    font-family: 'Lato', sans-serif
}
.container{
    margin: 2.5vh auto;
    width: 85%;
    min-width: 950px;
    height: 95vh
}
/* end general settings */

/* sidebar */
.side-bar{
    width: 35%;
    height: 100%;
    border-right: 1px solid #ccc
}
.user-access{
    justify-content: space-between;
    padding: 0 20px 0 20px;
    align-items: center;
    color: #A9A9A9

}
.user-pic img,
.users-list img{
    border-radius: 50%;
    height: 60px
}
.user-pic-name-icons i{
    font-size: 25px
}
.user-pic{
    align-items: center;
}
.user-name{
    margin-left: 25px;
    font-size: 20px;
    color: #000;
    font-weight: bold;
}
/* end sidebar */

/* notifications */
.notifications{
    align-items: center;
    background: #72CEFB;
    height: 100px
}
.notifications i{
    font-size: 40px;
    color: #72CEFB;
    line-height: 60px;
}
.bckgrnd-font{
    height:60px;
    width: 60px;
    background: #fff;
    border-radius: 50%;
    margin: 0 20px 0 30px;
    text-align: center
}
.notification-message span{
    display: block;
    padding-right: 20px
}
.notification-message a{
    color: #427D92
}
/* end notifications */

/* users-list */
.search-chat{
    height: calc(100% - 180px);
    max-height: calc(100% - 180px)
}
.users-list{
    height: calc(100% - 40px);
    background: #fff;
    overflow-y: scroll;
}
ul{
    list-style-type: none;
}
.users-list ul li{
    border-bottom: 1px solid #ccc;
    padding: 18px 0 18px 18px;
    overflow: hidden;
    max-height: 90px;
    text-overflow: ellipsis;
}
.users-list ul li:hover{
    background: rgb(238, 235, 235);
}
.users-list ul li:focus{
    background: rgb(109, 107, 107);
}
.users-list ul li span{
    padding-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.input input{
    width: 100%;
    height: 40px;
    border-radius: 2px;
    border: none;
    font-size: 20px;
    padding-left: 20px;
    margin-bottom: 7px
}
/* end users-list */

/* search-chat input */
.search-chat{
    padding: 7px;
    background: #EAEAEA;
}
.users-list ul li span.last-message{
    font-size: 14px
}
.hour-chat{
    font-size: 13px;
    width: 30px
}
.user-name-chat{
    font-size: 20px;
}
.double-tick{
    color: #ccc;
    font-size: 12px;
}
.info-user-chat div{
    display: inline-block;
    line-height: 18px;
}
.info-user-chat p{
    padding: 5px 0 5px 20px
}
.info-right{
    height: 50px;
    width: 22%
}
.info-left{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60%;
    height: 50px
}
.last-message{
    padding-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* end search-chat input */

/* main content */
.main-content{
    height: 100%;
    width: 65%
}
/* end main content */

/* user access */
.user-access,
.user-pic-name,
.content-bottom{
    background: #EAEAEA;
    width: 100%;
    height: 80px
}
.last-access{
    padding-left: 25px;
    font-size: 15px;
    color: #88827C
}
/* end user access */

/*  chat area */
.chat-area{
    overflow-y: scroll;
    background-image: url(../img/mine.jpg);
    height: calc(100% - 160px)
}
.message-box{
    border-radius: 7px;
    max-width: 550px;
    margin: 10px 60px 10px 60px;
    padding: 10px 15px 10px 15px;
    font-size: 20px;
    word-break: break-all;
    position: relative;
    color: #000
}
.sent{
    background: #d0f3a9;
    float: right
}
.received{
    background: #fff;
    float: left
}
.hour-message{
    display: block;
    text-align: right;
    font-size: 13px;
    padding-top: 2px;
    color: #9e9a9a
}
.chevron{
    position: absolute;
    right: 10px;
    top: 19px;
    font-size: 14px;
    color: #ccc
}
.info-box{
    position: absolute;
    background: #f3f0f0;
    width: 160px;
    height: 100px;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #ccc;
    top: 40px;
    right: 15px;
    flex-direction: column;
    justify-content: center;
    font-size: 16px
}
.info-box li{
    padding: 6px 15px 6px 15px
}
.info-box li:hover{
    background: rgb(172, 170, 170);
}
.user-text{
    padding-right: 15px
}
/*  end chat area */

/* cursor pointer*/
i:hover,
.user-pic img,
.users-list ul li,
.user-info,
.user-name,
.info-box li{
    cursor: pointer;
}
/* end cursor pointer*/

/* content bottom */
.content-bottom{
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 40px
}
.content-bottom i{
    font-size: 37px;
    color: #696E76
}
.content-bottom input{
    width: 850px;
    height: 60px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    padding-left: 20px;
    margin: 0 15px 0 15px
}
/* end content bottom */