<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>  
    <title>BOOLZAPP</title>
</head>
<body>
    <!-- total container/#root -->
    <div class="container flex" id="root">
        <!-- sidebar -->
        <div class="side-bar">
            <!--  user pic-name -->
            <div class="user-pic-name user-access flex">
                <div class="user-pic flex">
                    <img src="img/avatar_1.jpg" alt="">
                    <span class="user-name">Nome Utente</span>
                </div>
                <div class="user-pic-name-icons">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt p-l-r"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <!--  end user pic-name -->

            <!-- notifications -->
            <div class="notifications flex">
                <div class="bckgrnd-font">
                    <i class="far fa-bell-slash"></i>
                </div>
                <div class="notification-message">
                    <span>Ricevi notifiche di nuovi messaggi</span>
                    <span><a href="#">Attiva notifiche desktop</a></span>
                </div>
            </div>
            <!-- end notifications -->

            <!-- search chat input -->
            <div class="search-chat">
                <div class="input">
                    <input type="text"
                        placeholder="Cerca o inizia una nuova chat"
                        v-model="search"
                        @keyup.enter="searchFilter"
                    >
                </div>
                <div class="users-list">
                    <ul>
                        <li class="flex"
                            v-for="(element, index) in contacts"
                            @click="switChat(index)"
                        >
                            <img :src="element.avatar" alt="">
                            <span>{{element.name}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end search chat input -->
        </div>
        <!-- end sidebar -->

        <!-- main content -->
        <div class="main-content">

            <!-- user access -->
            <div class="user-access flex">
                <div class="user-pic flex">
                    <div>
                        <img :src="contacts[userIDX].avatar" alt="">
                    </div>
                    <div class="user-info">
                        <span class="user-name">{{contacts[userIDX].name}}</span>
                        <p class="last-access">Ultimo accesso oggi alle {{contacts[userIDX].lastSeen}}</p>
                    </div>
                </div>
                <div class="user-pic-name-icons">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip p-l-r"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <!-- end user access -->

            <!-- chat area -->
            <div class="chat-area">
                <div class="user-messages">
                    <div v-for="element in contacts[userIDX].messages"
                        :class="element.status"
                        class="clearfix message-box"
                        @mouseover="arrow=true"
                        @mouseleave="arrow=false"
                    >
                        <span class="user-text">{{element.text}}</span>
                        <span class="hour-message">{{element.date}}</span>
                        <span class="chevron" v-show="arrow">
                            <i class="fas fa-chevron-down"></i>
                        </span>
                        <div class="hide info-box flex">
                            <ul class="options-list">
                                <li>Message Info</li>
                                <li>Delete Message</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end chat area -->

            <!-- content bottom -->
            <div class="content-bottom flex">
                <i class="fas fa-smile"></i>
                <input v-model="inpuText"
                    @keyup.enter="enterMessage"
                    type="text"
                    placeholder="Scrivi un messaggio"
                >
                <i class="fas fa-microphone"></i>
            </div>
            <!-- end content bottom -->

        </div>
        <!-- end main content -->

    </div>
    <!-- end total container/#root -->
    <script src="js/script.js"></script>
</body>
</html>